.layout-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.layout-nav {
    justify-content: space-around;
    display: flex;
    flex-direction: column !important;
    height: 50vh;
    align-items: start;
    width: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
    border-radius: 10rem;
}

.layout-nav-list {
    width: 100%;
}

.layout-nav-list-item {
    display: flex;
    justify-content: center !important; 
}

.layout-nav-list-item:hover {
    border-radius: 10rem;
}

.layout-children {
    width: 100%;
    margin-right: 3rem;
}

.layout-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-children-content, .layout-mentor {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    height: 85vh;
    border-radius: 5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-children-content {
    padding: 0 4rem;
}

.layout-mentor  {
    padding: 0 2rem;
}

.layout-mentor-btn-back {
    width: 5rem;
}

.layout-mentor-right,.layout-mentor-left {
    height: 75vh;
}

.layout-children-list-mentor {
    overflow-y: scroll;
    height: 80%;
    margin-top: 1rem;
}

.layout-children-content-item {
    width: 80%;
}

.layout-children-content-item-textarea {
    max-height: 8rem;
    min-height: 8rem;
    overflow-y: scroll !important;
}

.list-group-chat {
    height: 65vh;
    overflow-y: scroll;
}

.layout-mentor-child-right {
    height: 80%;
}

.layout-mentor-child-header {
    height: 7.5vh;
}

.list-notification {
    height: 64vh;
}

.student-question {
    background: #44474a;
    color: #efe8d1;
    padding: 2rem;
    border-radius: 16px;
    width: 50%;
}

.btn-support-student {
    background-color: #d47fe9 !important;
    border-radius: 8px;
    color: black !important;
}

.text-question {
    text-overflow: ellipsis;
}

.group-chat-item-right {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(149, 157, 165, 0.2);
}

.not-outlet {
    width: 100%;
    height: 100%;
    color: #18191a;
}

.group-chat-content-icon-member {
    color: #0b0be7ad;
}

.group-chat-mobile-text {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
}