.chat-room {
    color: #fff;
    height: 100vh;
    max-height: -webkit-fill-available;
}

.chat-right {
    position: relative;
    height: 84%;
}

.chat-right-title {
    letter-spacing: 2px;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #2d2c2c;
    height: 8%;
    padding: 0 2rem;
}

.chat-content {
    height: 100%;
    width: 100%;
    background-color: black;
}

.justify-end {
    flex-direction: row-reverse;
}

.text-end {
    text-align: end;
}

.messages-item-text-sender {
    background-color: #4d1135;
}

.messages-item-text-receiver {
    background-color: #2d2c2c;
}

.messages-item-text {
    max-width: 30rem;
    padding: 0.5rem 0.8rem;
    word-break: break-all;
    margin: 0 !important;
    color:  #fff;
    font-size: 1.4rem !important;
}

.first-message {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 0.3rem;
}

.middle-message {
    border-radius: 1.2rem;
}

.last-message {
    border-top-right-radius: 1rem;
    border-top-left-radius: 0.3rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 1rem;
}

.message-input {
    height: 8%;
    background-color: #2d2c2c;
    position: relative;
}

.message-input-value {
    outline: none;
    border: none !important;
    width: 100%;
    height: 100%;
    background-color: #2d2c2c;
    padding: 0 1rem;
    color: #fff;
}

.message-input-send {
    justify-content: space-around;
    align-items: center;
    display: flex;
    transition: 0.5s linear;
}

.message-input-send-icon {
    font-size: 2rem !important; 
    color: #f5dddd;
    cursor: pointer;
    transition: 0.5s linear;
}

.message-input-send-icon:hover {
    scale: 1.2;
}

.message-input-content {
    position: absolute;
    height: 100%;
}

.message-input-send-icon:hover {
    scale: 1.05;
}

.button-on-bottom-chat {
    background-color: #2d2c2c;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    cursor: pointer;
    padding: 8px;
    transition: 0.3s linear;
    justify-content: center;
    display: flex;
    align-items: center;
}

.button-on-bottom-chat:hover {
    scale: 1.1;
}

.chat-time-distance {
    color: #2d2c2c;
}

.is-typing {
    transform: translateX(2rem);
    transition: 0.2s linear;
}

.not-typing {
    transform: translateX(0);
    transition: 0.2s linear;
}