
.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    padding: 1rem 1rem;
    margin-bottom: 1rem;

}

.user-header h5 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
}