html {
  height: 100%;
  font-size: 12px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-color: #dfdec0; */
}

.form-error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #746f6f;
}
.text-center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center-justify {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center-align {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

/* Responsive */

.mobile {
  display: none;
}

@media (min-width: 912px) {
  .group-chat-mobile-text {
    padding-left: 1.5rem;
  }
}

@media (width: 1024px) {
  .history-btn {
    justify-content: end;
  }
}

@media (min-width: 1024px) {
  .group-chat-mobile-text {
    padding-left: 0.4rem;
  }

  .history-filter {
    margin-top: 2rem;
  }
}

@media (width: 912px) {
  .layout-mentor-child-header {
    height: 4vh;
  }
}

@media (max-width: 820px) {
  .mobile {
    display: block;
  }

  .list-notification {
    height: 88vh;
  }

  .ipad-pc {
    display: none;
  }
  .layout-container {
    height: 100vh;
    padding: 0 1rem;
  }
  .layout-children {
    margin: 0;
  }
}

@media (max-width: 540px) {
  .student-question {
    width: 70%;
  }

  .history-email {
    margin-top: 1rem !important;
  }

  .group-chat-content-title {
    font-size: 0.9rem !important;
  }
  
  .group-chat-content-title-top {
    padding-left: 0.4rem !important;
  }
  
  .group-chat-item-right {
    margin-bottom: 1rem;
  }

  .list-group-chat-item {
    margin-bottom: 0.5rem !important;
  }
}

@media (max-width: 280px) {

  .layout-children-content-item-title {
    font-size: 2.5rem !important;
  }
  
  .layout-children-content {
    padding: 0 0.2rem;
  }

  .student-question {
    width: 100%;
  }

  .group-chat-content-title {
    font-size: 1rem !important;
  }

  .group-chat-mobile-text {
    padding-left: 1rem;
  }

  .group-chat-item-right-mobile {
    padding-left: 5px;
  }
}